<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="WebHttpBinding" maxBufferPoolSize="65536000" maxReceivedMessageSize="65536000" openTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxArrayLength="16384000" maxStringContentLength="65536000" />
          <security mode="Transport">
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="HL7_CDASH_Export.eCRFDemography">
        <endpoint name="eCRFDemography" address="https://localhost:44301/eCRFDemography.svc" behaviorConfiguration="WebHttpBehavior" binding="webHttpBinding" bindingConfiguration="WebHttpBinding" contract="HL7_CDASH_Export.IeCRFDemography" endpointConfiguration=""  />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <host>
          <timeouts closeTimeout="00:20:00" openTimeout="00:20:00" />
        </host>
      </service>
      <service name="HL7_CDASH_Export.eCRFVitalSigns">
        <endpoint name="eCRFVitalSigns" address="https://localhost:44301/eCRFVitalSigns.svc" behaviorConfiguration="WebHttpBehavior" binding="webHttpBinding" bindingConfiguration="WebHttpBinding" contract="HL7_CDASH_Export.IeCRFVitalSigns" endpointConfiguration=""  />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <host>
          <timeouts closeTimeout="00:20:00" openTimeout="00:20:00" />
        </host>
      </service>
      <service name="HL7_CDASH_Export.eCRFConcominantMedications">
        <endpoint name="eCRFConcominantMedications" address="https://localhost:44301/eCRFConcominantMedications.svc" behaviorConfiguration="WebHttpBehavior" binding="webHttpBinding" bindingConfiguration="WebHttpBinding" contract="HL7_CDASH_Export.IeCRFConcominantMedications" endpointConfiguration=""  />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <host>
          <timeouts closeTimeout="00:20:00" openTimeout="00:20:00" />
        </host>
      </service>
    </services>
    <behaviors>      
      <endpointBehaviors>
        <behavior name="WebHttpBehavior">
          <dataContractSerializer maxItemsInObjectGraph="65536000"/>
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <useRequestHeadersForMetadataAddress>
            <defaultPorts>
              <add scheme="https" port="443" />
            </defaultPorts>
          </useRequestHeadersForMetadataAddress>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

</configuration>
